{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Entrar</title>

    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>

<body>

    <div class="container">

        <button class="home-login">
            <i class="fas fa-home"></i>
        </button>

        <h2 class="text-home">
            Login
        </h2>

        <form method="POST" class="form-login"> {% csrf_token %}
            <div>
                <input type="text" placeholder="seu usuário" name="username" class="input-login">
            </div>

            <div>
                <input type="password" placeholder="sua senha" name="password" class="input-login">
            </div>

            <div>
                <button type="submit" class="btn-login">
                    <strong>Entrar</strong>
                </button>
            </div>

            {% if form.errors %}
            <div class="alert alert-danger" style="margin-top: 8px;" role="alert">
                Usuário ou Senha errado.
            </div>
            {% endif %}

        </form>

    </div>

</body>

</html>