@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

@import url('https://fonts.googleapis.com/css?family=Muli');

body, html {
    font-family: 'Roboto', sans-serif;
}

.img-product {
    height: 3rem;
    border-radius: 4px;
    border: solid 2px #141414;
}

.fa-trash {
    color: white;
    transition: 0.2s;
    margin-left: 5px;
}

.fa-edit {
    color: white;
    transition: 0.2s;
    margin-left: 5px;
}

nav {
    padding: 20px;
}

.navbar-brand:hover {
    color: rgb(65, 53, 238);
}

.ul-nav li {
    display: inline;
    margin-left: 12px;
    font-size: 15px;
    position: relative;
    align-items: center;
    top: 8px;
}

li {
    list-style-type: none;
    color: white;
}

ul a {
    text-decoration: none;
    color: #b1b1b1;
    transition: 0.2S;
}

input[type='file'] {
    margin: 8px 0px 8px 0px;
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 120px;
}

li .page-link {
    background-color: #141414;
    color: white;
}

.form-product {
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.form-control {
    margin-top: 11px;
}

.btn-style {
    width: 180px;
    margin-top: 80px;
}

.product-delete {
    padding: 40px;
}

.mb-1 {
    margin-left: 90px;
    width: 250px;
}

.btn-dark {
    margin-top: 5px;
}

.btn {
    height: 40px;
    margin-top: 11px;
}

.fa-money-check-alt {
    color: white;
    margin-left: 5px;
    transition: 0.2s;
}

.actions {
    margin-top: 10px;
}

/* ss */

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: rgb(65, 38, 38);
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.btn .btn-danger {
    margin-top: 70px;
}

.form-sale {
    margin-top: 10px;
    width: 180px;
    text-align: center;
    border: #4e4e4e 2px solid;
    padding: 5px;
    border-radius: 4px;
}

.container {
    border: #4e4e4e 2px solid;
}

.img-fluid {
    border: #4e4e4e 2px solid; 
}

/* CARD */


