{% extends "base.html" %}

{% block main %}

<table class="table table-hover" style="margin-top: 35px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Quandidade</th>
            <th scope="col">Pagemento</th>
            <th scope="col">Data da Venda</th>
            <th scope="col">Valor</th>
            <th scope="col">Imprimir</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <th scope="row">{{ sale.product.title }}</th>
            <td>{{ sale.quantity }}</td>
            <td>{{ sale.payment }}</td>
            <td>{{ sale.time }}</td>
            <td>{{ sale.total_sale }}</td>
            <td>
                <a href="{% url 'pdf' sale.id %}">
                    <img class="image-icon"
                        src="https://user-images.githubusercontent.com/44476076/132591720-75204096-e0af-4cb0-b56b-6523f30e1ec7.png"
                        alt="">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}