{% extends "base.html" %}

{% block main %}

{% for product in object_list %}

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white">
                <div class="col-md-3 mt-1">
                    <img class="img-fluid img-responsive rounded product-image" src="{{ product.image.url }}">
                </div>
                <div class="col-md-6 mt-1">
                    <h5>Produto: {{ product.title }}</h5>
                    <p class="text-justify">Detalhamento: {{product.details}}<br><br></p>
                    <a href="{% url 'edit-product' product.id %}">
                       <i class="fas fa-edit fa-2x" style="color: #2D9CDB"></i>
                    </a>
                    {% include 'products/confime_delete_product.html' %}
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center" style="margin-left: 30px;">
                        <h4 class="mr-1">{{ product.price }}</h4>
                        <span class="strike-text">Qtd: {{ product.quantity }}</span>
                    </div>
                    <div class="">
                        {% if product.quantity == 0 %}

                        {% else %}
                        <form action="{% url 'sale_product' product.id %}" class="form-sale" method="POST"> {% csrf_token %}
                            <div class="form-group">
                                <input type="number" placeholder="Informar a quantidade" required class="form-control" name="quantity" min="1" />
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="forma-payment" name="payment">
                                    <option value="0" disabled="true" selected="true">Selecione pagamento
                                    </option>
                                    <option name="dinheiro" value="dinheiro">Dinheiro</option>
                                    <option name="cartao-credito" value="cartao-credito">Cartão de Crédito</option>
                                    <option name="cartao-debito" value="cartao-debito">Cartão de Debito</option>
                                </select>
                            </div>

                            <button type="submit" class="btn-sale" type="button">
                                Vender <i class="fas fa-money-check-alt fa-lg"></i>
                            </button>
                        </form>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}

<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
    {% endif %}

    {% for object in page_obj.paginator.page_range %}
    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Proximo</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Proximo</a></li>
    {% endif %}
</ul>


{% endblock %}